<div class="title">
    Shopping Bag
<div class="shopping-cart">
    <!-- Title -->
   
    <!-- Products -->
    <span *ngFor="let item of AllData">
    <div class="item">
      <div class="buttons">
        <span class="delete-btn"></span>
        <span class="like-btn"></span>
      </div>
   
   
      <div class="description">
         
        <span>{{item.product}}</span>
        <span>{{item.category}}</span>
        <span>{{item.MRP}}</span>
      </div>

      <div class="buttonDiv">
        <button id=item.Sl class="AddCartBtn" type="button" (click)="AddToCart(item.Sl)">Add to cart</button>
      </div>
   
      <!-- <div class="quantity">
       
        <input type="number" id=item.Sl name="name" value=0 min=0 max=10 [(ngModel)]="quantity">
       
      </div>
   
      <div class="total-price">{{item.MRP}} * {{item.quantity}}</div> -->
    </div></span>
  </div>
  </div>
  <app-footer></app-footer>