  <div class="title">
    Cart Details
<div class="cart">
    <!-- Title -->
   
    <!-- Products -->
     <table id="header-fixed" class="table table-striped">
       <tr> <th *ngFor="let column of columns"> {{column}}</th>
           
             </tr>
             <tr *ngFor="let item of items">
                <td>
                    {{item.product}}
                </td>
                <td>
                    {{item.category}}
                </td>
                <td>
                    {{item.MRP}}
                </td>
      
      <!-- <div class="quantity">
       
        <input type="number" id=item.Sl name="name" value=0 min=0 max=10 [(ngModel)]="quantity">
       
      </div>
   
      <div class="total-price">{{item.MRP}} * {{item.quantity}}</div> -->
    </table>
    
      </div>
      <div id="btnDiv">
      <button class="CheckOutBtn" type="button" (click)="Checkout()">CheckOut</button>  </div>
    </div>
      
         
    
  