.footerDiv {
    width: 100%;
    height: 145px;
    background-color: yellow;
    overflow: auto;
    text-align: center;
}
.CheckOutBtn {
    background-color:  #2874f0;
    color: white;
    width: 140px;
    font-size: 15px;
    padding: 6px;
  }
  #btnDiv {
      text-align: center;
  }
  .cart {
    width: 550px;
    height: 100px;
    margin: 20px auto ;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 6px;
    overflow: auto;
    flex-direction: column;
  }
  .title {
    height: 50px;
    border-bottom: 1px solid #E1E8EE;
    padding: 20px 30px;
    color: #5E6977;
    font-size: 18px;
    font-weight: 400;
  }
   
  .item {
    padding: 20px 30px;
    height: 120px;
    display: flex;
  }
  