.title {
    width: 80%;
    text-align: center;
    margin: 20px auto ;
}
#MyTable th {
    padding-left: 88px;
}
#Cost {
    font-weight: bolder;
    text-align: right;
    background-color: #2874f0;
    line-height: 40px;
    color: white;
}
#Cost1 {
    font-weight: bolder;
    text-align: center;
    padding-left: 153px;
    background-color: #2874f0;
    line-height: 40px;
    color: white;
}