<div class="title">
    <h1>Receipt</h1><br/>
<div class="cart">
    <!-- Title -->
   
    <!-- Products -->
     <table class="table table-striped" id="MyTable">
       <tr> <th *ngFor="let column of columns"> {{column}}</th>
           
             </tr>
             <tr *ngFor="let item of FinalData">
                <td>
                    {{item.Sl}}
                </td>
                <td>
                    {{item.product}}
                </td>
                <td>
                    {{item.category}}
                </td>
                <td>
                    {{item.MRP}}
                </td>
                <td>
                    {{item.Price}}
                </td>
      
      <!-- <div class="quantity">
       
        <input type="number" id=item.Sl name="name" value=0 min=0 max=10 [(ngModel)]="quantity">
       
      </div>
   
      <div class="total-price">{{item.MRP}} * {{item.quantity}}</div> -->
    </table>
    <div class="row">
            <div class="col-sm-8" id="Cost">Total Cost :- </div>
            <div class="col-sm-4" id="Cost1">{{Total}}</div>
          </div>
    
      </div>
    </div>
      
         
    
  